<!DOCTYPE html>
<html lang="en">

</head>

<title>Update Exercise</title>

<body>
  <div class="edit-exercise-header">
    <h1>Enhance the <%= exercise.name %> Exercise</h1>
  </div>

  <div class="button-container">
    <button onclick="window.location.href='/exercise'">Back to Exercise Image Gallery</button>
</div>

<div class="bottom-button-container">
  <input type="submit" value="Update Exercise" />
</div>

  <img src="/<%= exercise.image %>" alt="Image" class="exercise-img">

  <main>
    <div class="new-exercise-input">
      <form action="/exercise/<%= exercise.id %>?_method=PUT" method="POST">

            <div class="edit-details">
                <label for="name">Name:</label>
                <input type="text" name="name" value="<%= exercise.name %>" >

                <label for="description">Description:</label>
                <input type="text" name="description" value="<%= exercise.description %>">

                <label for="category">Category:</label>
                <input type="text" name="catergory" value="<%= exercise.category %>">

                <label for="difficultyLevel">Difficulty Level:</label>
                <input type="text" name="difficultyLevel" value="<%= exercise.difficultyLevel %>">

                <label for="equipment">Equipment Required:</label>
                <input type="text" name="equipment" value="<%= exercise.requiresEquipment %>">

                <label for="image">Image:</label>
                <input type="text" name="image" value="<%= exercise.image %>">
            </div>
        </div>

      </form>
    </div>
  </main>

</body>

</html>
