<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GainFlex Exercise Details</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="show-exercise-header">
        <h1>Exercise Details</h1>
    </div>
    <div class="button-container">
        <button onclick="window.location.href='/exercise'">Back to Exercise Image Gallery</button>
    
        <button onclick="window.location.href='/exercise/<%= exercise.id %>/edit'">Edit Exercise</button>
    
        <form action="/exercise/<%= exercise.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete Exercise: <%= exercise.name %></button>
        </form>
    </div>
    
    <a href="/logout">
        <button class="log-out">Logout</button>
    </a>

    <div class="show-exercise-images">
        <img src="/<%= exercise.image %>" alt="Exercise Image" class="exercise-img">
    </div>

    <div class="show-exercise-details">
        <p><b>Name:</b> <%= exercise.name %></p>
        <p><b>Description:</b> <%= exercise.description %></p>
        <p><b>Category:</b> <%= exercise.category %></p>
        <p><b>Difficulty Level:</b> <%= exercise.difficultyLevel %></p>
        <p><b>Equipment:</b> <%= exercise.requiresEquipment %></p>

        <button id="<% exercise._id%>" class="addToWorkoutButton">Add to Workout Schedule</button>
    </div>
</body>

</html>
