<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GainFlex Exercise Details</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="exercise-show-headers">
        <h1>Exercise Profiles</h1>
        <h2><%= exercise.name %></h2>
    </div>

    <ul class="exercise-show-nav">
        <li class="left"><a href="/exercise">Home </a></li>
        <li class="left"><a href="/schedule">Workout History</a></li>
        <li class="right"><a href="/logout">Logout</a></li>
    </ul>

    <div class="exercise-show-images">
        <% const imageUrl = exercise.image.startsWith("https") ? new URL(exercise.image).pathname : exercise.image; %>
        <% if (exercise.image.startsWith("https")) { %>
            <img src="/<%= exercise.image %>" alt="Exercise Image" class="exercise-img">
        <% } else { %>
            <img src="/<%= exercise.image %>" alt="Exercise Image" class="exercise-img">
        <% } %>
    </div>

    <div class="show-exercise-details">
        <p><b>Description:</b> <%= exercise.description %></p>
        <p><b>Category:</b> <%= exercise.category %></p>
        <p><b>Difficulty Level:</b> <%= exercise.difficultyLevel %></p>
        <p><b>Equipment:</b> <%= exercise.requiresEquipment %></p>


        <div class="show-exercise-actions">
            <a href="/schedule/new/<%= exercise.id %>">
                <button id="<%= exercise.id %>" class="addToWorkoutButton">Add to Workout Schedule</button>
            </a>
        
            <button onclick="window.location.href='/exercise/<%= exercise.id %>/edit'">
                Edit Exercise
            </button>
        
            <form action="/exercise/<%= exercise.id %>?_method=DELETE" method="POST">
                <button type="submit">
                    Delete Exercise: <%= exercise.name %>
                </button>
            </form>
        </div>

    </div>
</body>

</html>
